@import '_vars';

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
font-family: 'Raleway', sans-serif;
}

h2{
    text-transform: uppercase;
    padding-bottom: 30px;
}

section{
    padding: 30px 0 20px 0;
}

.fa, .fas{
    font-size: 2em;
}

.fa{
    color: $white;
}

.fas .fa-angle-down{
    color: #000;
}


// ------------------------------------- HEADER -----------------------------------------------------
header{
width: 100%;
position: relative;
color: $white;
max-width: 100vw;
max-height: 80vh;
overflow: hidden;
}

.bg-image{
    position: relative;
    margin: 0 auto;
}


.head-container{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 50;
    background-color: rgba($color: #d0d0d0, $alpha: 0);
    transition: .5s;
}

.headColor{
    background-color: rgba($color: #d0d0d0, $alpha: 1.0);
}

.logo, .social-icons, .bg-text{
    display: inline;
    position: absolute;
}

.ham-menu{
    position: absolute;
    top: 10px;
    right: 15px;
}

.nav-links{
    left: 100vw;
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
    transition: all 0.5s ease-in-out;

    .exit{
        position: absolute;
        right: 10px;
        top: 10px;
    }

   .links{
        margin-top: 10%;
        list-style: none;
        li{
            display: block;
            font-size: 2em;
            padding: 10px 0;
            text-align: center;
            border-bottom: 0.5px solid rgb(128, 128, 128);

        }
    }
    .social{
        display: flex;
        justify-content: center;
        margin: 10% 0;
        list-style: none;
        li{
            margin: 5%;
            display: inline-block;
            font-size: 2.8em;
            text-align: center;
        }
    }
}

a{
    display: block;
    font-size: 1.5em;
    padding: 10px 0;
    text-decoration: none;
    color: #fff;
}


.bg-text{
    text-align: center;
    top: 50%;
    left: 0;
    text-transform: uppercase;
    width: 100%; 
}

.social-icons{
    bottom: 5px;
    right: 0px;
    font-size: 2em;
    padding: 10px;
    ul{
        list-style: none;
        li{
            display: inline;
        }
    }
}















//---------------------------------------------- MY WORK -------------------------------

#my-work{
    text-align: center;
}

.filters{
width: 100%;
display: flex;
align-content: space-around;
padding: 20px 0;

    ul{
        width: 100%;
        list-style: none;
        justify-content: space-between;
        li{
            display: inline;
            padding: 0 2%;
            border: 2px solid $pink;

            +:nth-of-type(2){
                border-color: $blue;
            }
            +:nth-of-type(3){
                border-color: $yellow;
            }
            +:nth-of-type(4){
                border-color: $green;
            }
            +:nth-of-type(5){
                border-color: purple;
            }
        }
    }
}

.box-container{
    width: 100%;
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .work-box{
        max-width: 49%;
        overflow: hidden;
        img{
            overflow: hidden;
        }
    }
}


.work-container{
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s linear;
}

.open-close{
    // padding-top: 30px;
    transition: 1s;
}

.up{
    transform: rotatex(180deg);
}

//----------------------------------------- ABOUT ME --------------------------------

#about-me{
    text-align: center;
    background-color: $grey;
}

.infographic{
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: max-height 1s linear;
}









//----------------------------------------- VIDEO --------------------------------

#video{
    text-align: center;
    
    .video-container{
        max-height: 0;
        padding: 0;
        overflow: hidden;
        transition: max-height 1s linear;

        video{
            background-color: #000;
            width: 80%;
            height: 30%;
        }
    }
}








//----------------------------------------- CONTACT ME --------------------------------

#contact{
    text-align: center;
    background-color: $grey;
}

form{
    margin: 0 auto;
    text-align: left;
    width: 70%;
}

label,
textarea {
    font-family: raleway, sans-serif;
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea, input {
    font-size: 1.2em;
    width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
}

label {
    display: block;
    margin-top: 10px;
}


.button{
    font-family: raleway, sans-serif;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 10px; 
}


.openNav{
    left: 0 !important;
    overflow: hidden;
}

.openWork{
    max-height: 1000px !important;
    padding: 10px 0;
}




































//------------------------------------------------ MEDIA QUERIES --------------------------------------------

@media screen and (min-width: 760px){
    h1{
        font-size: 4em;
    }
    h3{
        font-size: 2em;
    }
    h2{
        font-size: 3em;
    }

    .head-container{
        font-size: 2em;
        height: 90px;
    }

    .nav-links{
        font-size: .5em;
        .exit{
            font-size: 2em;
            margin: 20px 30px;
        }
        .social{
            font-size: 2em;
        }
    }

    .social-icons{
        font-size: 3em;
    }

    .filters ul li{
        font-size: 2em;
    }

    label, input, textarea, button{
        font-size: 1.5em;
    } 

    .box-container{
        width: 80%;
        margin: 0 auto;
    }
}


@media screen and (min-width: 1000px){
    .menu{
        width: 100%;
    }

    .ham-menu{
        display: none;
    }

    .nav-links{
        left: 0 !important;
        overflow: visible;
        position: fixed;
        z-index: 100;
        width: 100vw;
        height: 90px;
        background-color: transparent;

        .exit{
            display: none;
        }

    .links{
            margin: 0 30px 0 0;
            float: right;
            list-style: none;
            li{
                margin: 0 10px;
                display: inline-block;
                font-size: 2em;
                text-align: right;
                border: none;

            }
        }
        .social{
            display: none;
        }
    }

    .work-container, .infographic, .video-container{
        max-height: 1000px !important;
        padding: 10px 0;
    }

    .open-close{
        display: none;
    }

    #my-work, #about-me, #video, #contact{
        padding: 100px 0;
    } 
}

@media screen and (min-width: 2000px){
    #my-work{
        width: 100vw;
        .work-container{
            max-width: 1500px;
        }
    }
}